/*this is the reset style*/
h1,h2,h3,h4,h5,p{
	margin: 0;
	line-height: 1.5;
	color: gray;
}
ul,ol{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
input{
	outline: none;
}
hr{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	outline: none;
}
button{
	outline: none;
}