/* ==========================================================================
   Author's custom styles
   Name: mmativ;
   So Profile: http://stackoverflow.com/users/5321188/mmativ;
   ========================================================================== */
body{
	font-family: 'dotum';
	background-color: #202123;
}
body.activeMobileMenu{
	height: 100vh;
	overflow: hidden;
}
a{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.mobile-top_bar{
	background-color: #262626;
	min-height: 40px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.mobile-logo-holder{
	width: 100%;
	padding: 4px 0;
	text-align: center;
}
.mobile-logo-holder img{
	margin: 0 auto;
}
.mobile-logo-holder a{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.mobile_links_button,.mobile_notification_button{
	position: absolute;
	top: 10px;
}
.mobile_links_button a,.mobile_notification_button a{
	font-size: 16px;
	color: #fff;
	background: #333;
	padding: 3px 8px;
	display: inline-block;
	margin: 0;
	border-radius: 4px;
}
.mobile_links_button a:hover,.mobile_notification_button a:hover{
	background-color: rgb(12, 182, 218);
}
.mobile_links_button{
	left: 10px;
}
.mobile_notification_button{
	right: 10px;
}
.mobile_hidden_links{
	width: 320px;
	background-color: #202123;
	padding: 10px;
	position: absolute;
	z-index: 999;
	top: 0;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.mobile_hidden_links.links_content{
	left: -320px;
}
.mobile_hidden_links.notification_content{
	right: -320px;
}
.mobile_hidden_links.active.links_content{
	left:0;
}
.mobile_hidden_links.active.notification_content{
	right: 0;
}
/*.mobile_hidden_links.active{
	visibility: visible;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}*/
.mobile_hidden_links-container{
	position: relative;
	width: 100%;
}
.closeMe{
	position: absolute;
	top: 0;
	font-size: 16px;
	color: #fff;
	background: #333;
	padding: 3px 8px;
	display: inline-block;
	margin: 0;
	border-radius: 4px;
}
.closeMe:hover{
	background-color: rgb(12, 182, 218);
}
.mobile_hidden_links-contents{
	padding-top: 60px;
}
.links_content .closeMe{
	right: 0;
}
.mobile_hidden_links-contents ul.mobile-nav li{
	border-bottom: 1px solid #2e2e2e;
}
.mobile_hidden_links-contents ul li a,.mobile_hidden_links-contents ul li{
	color: #eee;
	text-decoration: none;
	font-size: 16px;
	padding: 4px 0;
	display: block;
	font-family: 'Nanum Gothic', sans-serif;
}
.mobile_hidden_links-contents .mobile-nav-top-link ul li{
	float: left;
	width: 50%;
	border: 1px solid #2e2e2e;
	padding-left: 12px;
}
.mobile_hidden_links-contents .mobile-nav-top-link{
	margin-bottom: 16px;
}
.mobile_hidden_links-contents ul.mobile-notification li{
	position: relative;
	border-bottom: 1px solid #2e2e2e;
}
.mobile_hidden_links-contents ul.mobile-notification li p{
	position: absolute;
	right: 5px;
	display: inline-block;
}
.mobile_hidden_links-contents ul.mobile-notification li p span{
	color: rgb(12, 182, 218);
}
.mobile_hidden_links-contents ul.mobile-notification li.special a{
	color: rgb(12, 182, 218);
}
.notification_content .mobile_hidden_links-contents .mobile-nav-top-link ul li{
	width: 33.33%;
}
.mobile-top_bar{
	/*display: none;*/
}
.top-bar{
	background-image: url(../img/topbarbg.jpg);
	background-repeat: repeat-x;
	color: #e1e1e1;
	font-size: 12px;
	min-height: 23px;
	/*display: none;*/
}
.top-bar nav{
	padding-top: 4px;
}
.top-bar nav ul.topbar-nav li{
	float: left;
	letter-spacing: 0px;
	position: relative;
}
.top-bar nav ul.topbar-nav li:not(:first-child){
	margin-left: 16px;
}
.top-bar nav ul.topbar-nav li:not(:first-child)::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 12px;
	background-color: #e1e1e1;
	left: -8px;
	top: 1px;
}
.top-bar nav ul.topbar-nav li span{
	color: rgb(12, 182, 218);
}
.top-bar nav ul.topbar-nav li a{
	color: #b0b0b0;
	text-decoration: none;
}
.top-bar nav ul.topbar-nav li img{
	vertical-align: top;
}
.top-bar nav ul.topbar-nav li.special a{
	color: rgb(12, 182, 218);
}
.top-bar .topbar-right-nav{
	float: right;
}
.top-bar .topbar-right-nav ul li{
	float: left;
	font-family: 'Nanum Gothic', sans-serif;
	position: relative;
}
.top-bar .topbar-right-nav ul li:not(:first-child){
	margin-left: 8px;
}
.top-bar .topbar-right-nav ul li:not(:first-child)::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #9b999a;
	left: -4px;
	top: 3px;
}
.top-bar .topbar-right-nav ul li a{
	color: #9b999a;
	text-decoration: none;
}
.top-bar .topbar-right-nav ul li a:hover{
	color: rgb(12, 182, 218);
}
.page-wrapper{
	background-image: url(../img/sitebg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 90vh;
}
.logo-holder{
	text-align: center;
	padding-top: 10px;
}
.logo-holder img{
	margin: 0 auto;
}
header nav ul li{
	float: left;
	color: #fff;
}
header nav ul li:not(:first-child){
	margin-left: 70px;
}
header nav ul li a{
	color: #fff;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
}
header nav ul li a:hover,header nav ul li a:focus{
	color: rgb(12, 182, 218);
	text-decoration: none;
}
header .nav-top-link{
	float: right;
	margin-top: 10px;
	margin-bottom: 16px;
}
header .nav-top-link li{
	float: left;
}
header .nav-top-link li:not(:first-child){
	
	margin-left: 20px;
}
header .nav-top-link li a{
	color: #e1e1e1;
	font-size: 10px;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
}
header .nav-top-link li a:hover{
	color: rgb(12, 182, 218);
	text-decoration: none;
}
.newsbar{
	border-top: 1px solid #19b5fe;
	margin-top: 16px;
	background-color: rgba(15,64,120,0.3);
	min-height: 20px;
	padding: 8px 0;
}
.newsbar *{
	vertical-align: middle;
}
.newsbar p{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #FFFC04;
	display: inline-block;
}
.newsbar p .newsIcon{
	position: relative;
	top: -2px;
}
.news-holder{
	float: left;
}
.newsLabel {
	display: inline-block;
	margin-left: 10px;
}
.newsLabel .newsLabel-title{
	font-family: 'Nanum Gothic', sans-serif;
	color: #d8dfe0;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-right: 12px;
}
.newsLabel .newsLabel-title::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 14px;
	top: 1px;
	right: 0;
	background: rgba(204,211,214,0.6);
}
.newsLabel .newsLabel-content{
	color: #aeaeae;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    min-width: 320px;
}
.purchaseInfo{
	float: right;
}
.purchaseInfo a{
	font-family: 'Nanum Gothic', sans-serif;
	color: #0eacce;
	border: 2px solid #0eacce;
	text-decoration: none;
	padding: 5px;
	font-size: 11px;
	background: #000;
	border-radius: 12px;
	font-weight: bold;
}
.sidebar{
	padding-left: 30px;
}
.homepage{
	margin-top: 60px;
}
.quick_links_top img{
	width: 100%;
}
.quick_links_body{
	background-color: #202020;
	border: 1px solid #171717;
	position: relative;
	padding: 22px 0;
	padding-left: 6px;
}
.quick_links_body a{
	color: #d0d0d0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	width: 100%;
}
.quick_links_body a:hover{
	text-decoration: none;
}
.quick_links_body_icon{
	width: 17px;
	height: 17px;;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 30px;
}
.quick_links_body_icon i{
	font-size: 10px;
    position: relative;
    top: -4px;
    left: 5px;
    color: #0eacce;
}
.free_board_container{
	padding-top: 6px;
}
.free_board_container h3{
	color: #eeeeee;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 1px 1px 3px #000;
}
.free_board_body{
	position: relative;
	min-height: 332px;
    padding: 10px 10px 20px 10px;
    background: #202020;
    border: 1px solid #171717;
}
.free_board_header{
	margin-bottom: 10px;
}
.mainFooter{
	background-color: #202123;
	padding: 40px 0;
}
.mainFooter p{
	display: inline-block;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
	margin-left: 16px;
}
.free_board_body ul li{
	border-bottom: 1px solid #2e2e2e;
}
.free_board_body ul li a{
	color: #9c9c9c;
	text-decoration: none;
	font-size: 12px;
	padding: 2px 0;
	display: inline-block;
}
.free_board_body ul li a:hover{
	color: #0eacce;
}
.homepage_minigame{
	margin-top: 80px;
}
.homepage_minigame h3{
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Nanum Gothic', sans-serif;
	color: #eeeeee;
}
.homepage_minigame_table_header{
	margin-top: 12px;
}
.homepage_minigame_table_header table{
	width: 100%;
}
.homepage_minigame_table_header table thead tr th{
	width: 23%;
}
.homepage_minigame_table_header table thead tr th:last-child{
	width: auto;
}
.homepage_minigame_table_header table thead tr th{
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	color: rgba(238,238,238,0.7);
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	background-image: url(../img/table_header_bg.png);
	background-repeat: repeat-x;
	height: 33px;
}
.homepage_minigame_table_header table thead tr{
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.homepage_minigame_table_content{
	margin-top: 10px;
}
.homepage_minigame_table_content table{
	width: 100%;
}
.homepage_minigame_table_content table tbody tr td{
	width: 23%;
	background-color: rgba(0,0,0,0.2);
	height: 33px;
}
.homepage_minigame_table_content table tbody tr td:last-child{
	width: auto;
}
.homepage_minigame_table_content table tbody tr td{
	text-align: center;
	color: #eee;
	font-size: 12px;
	font-family: 'Nanum Gothic', sans-serif;
}
.homepage_minigame_table_content table tbody tr:not(:last-child){
	border-bottom: 2px solid rgba(255,255,255,0.02);
}
.content_area{
	padding-bottom: 40px;
}
.mobile-quick-access a{
	width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.73);
    color: #424242;
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: center;
    line-height: 57px;
    font-size: 30px;
    border-radius: 100%;
}
.mobile-quick-access a i{
	font-size: 30px;
}
.quick-access-modal{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	z-index: 1000;
	top: 0;
	left: 0;
	max-height: 100vh;
	overflow-y: auto;
	padding: 40px;
}
.quick-access-body{
	width: 80%;
	height: auto;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: auto;
}
.quick_links_mobile{
	width: 239px;
	margin: 0 auto;
}
.quick-access-footer{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
.quick-access-footer a{
	display: inline-block;
	width: 140px;
	padding: 8px 0;
	background-color: #757575;
	color: #EFEBE9;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid #424242;
	text-decoration: none;
}
.quick-access-modal{
	visibility: hidden;
	opacity: 0;
}
.quick-access-modal .quick-access-body{
	-webkit-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
	transform: scale(0.2);
	-webkit-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.quick-access-modal.active{
	visibility: visible;
	opacity: 1;
}
.quick-access-modal.active .quick-access-body{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.mobile-quick-access{
	display: none;
}
.subPage{
	margin-top: 60px;
}
.subPage-table-header table{
	width: 100%;
}
.subPage-table-header table thead tr th{
	text-align: center;
}
.subPage-table-header table thead tr{
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	color: rgba(238,238,238,0.7);
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	background-image: url(../img/table_header_bg.png);
	background-repeat: repeat-x;
	height: 33px;
}
.subPage-table-header table thead tr{
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
div[class*='subPage-table-notice']{
	background-color: rgba(0,0,0,0.2);
	padding: 3px 2px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 13px;
}
.subPage-table-notice-label{
	margin-bottom: 6px;
	margin-top: 8px;
	color: red;
}
.subPage-table-notice-content{
	color: yellow;
}
.subPage-table-notice-content marquee{
	display: inline-block;
	vertical-align: middle;
}
.subPage-table-area-notice .subPage-table-notice-content:not(:last-child){
	margin-bottom: 2px;
}
.subPage-table-content{
	margin-top: 10px;
}
.subPage-table-content table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 4px;
}
.subPage-table-content table tbody tr td{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
	color: #3c3d3f;
	padding: 3px 2px;
	text-align: center;
	font-weight: bold;
	height: 29px;
}
.subPage-table-content table tbody tr td span{
	color: #989898;
	padding: 0 1px;
	height: 18px;
	text-align: center;
	display: inline-block;
	background-image: url(../img/table-span-bg.png);
	background-repeat: repeat-x;
	background-size: contain;
	border: 1px solid #545451;
	vertical-align: middle;
}
.subPage-table-content table tbody tr{
	background-color: #1c1d1f;
}
.subPage-table-content table tbody tr td span.versus{
	width: 44px;
	margin: 0 6px;
	font-size: 12px;
}
.subPage-table-content table tbody tr:not(:last-child){
	border-bottom: 4px solid rgba(253,253,253,0.1);
}
.sidebar-container{
	padding-left: 12px;
}
.sticky-sidebar{
	position: relative;
	-webkit-transition: transform 0.6s;
	-ms-transition: transform 0.6s;
	-moz-transition: transform 0.6s;
	-o-transition: transform 0.6s;
	transition: transform 0.6s;
}
.sticky-sidebar-body{
	background-color: #202020; 
	border: 1px solid #000;
}
.subPage-grid-left{
	float: left;
	width: 834px;
}
.subPage-grid-right{
	float: left;
	width: 226px;
}
.sticky-sidebar-header img{
	width: 100%;
}
.sticky-sidebar-body{
	padding: 0 10px;
	padding-top: 28px;
	padding-bottom: 30px;
}
.sticky-sidebar-form{
	background-color: #333333;
	border-radius: 6px;
	padding: 0 6px;
	padding-top: 4px;
	padding-bottom: 10px;
}
.sticky-sidebar-form ul li{
	color: #fff;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	clear: both;
}
.sticky-sidebar-form ul li{
	border-bottom: 1px solid #464646;
	padding: 7px 0;
}
.sticky-sidebar-form ul li p{
	display: inline-block;
	float: right;
	font-weight: normal;
	color: #fff;
}
.sticky-sidebar-form ul li p span{
	color: #0cb6da;
	font-weight: normal;
	margin-right: 4px;
}
.sticky-sidebar-form ul li.max-button p input[type="text"]{
	width: 60px;
	background: #fff;
	height: 21px;
	color: #333;
	margin-right: 4px;
	border: 0px;
	outline: none;
	padding: 2px;
	vertical-align: middle;
	border: 1px solid #0cb6da;
}
.sticky-sidebar-form ul li.max-button p a{
	text-decoration: none;
	margin-right: 4px;
}
.sticky-sidebar-betting-button{
	margin-top: 18px;
}
.sticky-sidebar-coupon label{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	color: #ed1c24;
	font-size: 13px;
	margin: 0px;
	margin-right: 4px;
	display: inline-block;
}
.sticky-sidebar-coupon{
	margin-top: 18px;
	border-bottom: 1px solid #0cb6da;
}
.sticky-sidebar-coupon select{
	font-size: 13px;
	color: #222;
	font-family: 'Nanum Gothic', sans-serif;
	display: inline-block;
}
.sticky-sidebar-coupon select[disabled="disabled"]{
	opacity: 0.8;
}
.sticky-sidebar-wechat{
	margin-top: 8px;
	position: relative;
}
.sticky-sidebar-wechat img{
	width: 100%;
}
.wechat-user{
	position: absolute;
	right: 27px;
    bottom: 25px;
}
.wechat-user span{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FF0;
}
.sticky-sidebar-accept{
	margin-top: 4px;
}
.sticky-sidebar-accept label{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 4px;
	font-weight: normal;
}
.sticky-sidebar-accept input[type="checkbox"]{
	vertical-align: top;
}
/*sample nelson*/
/*test*/
.table-container{
	width: 900px;
	margin: 0 auto;
}
.sub-table{
	width: 900px;
}
.div-menu{
	background: #292a2e;
}
.div-menu ul li{
	list-style: none;
	padding: 7px 5px;
	position: relative;
	height: 37px;
	
}
.div-menu ul li:not(:last-child){
	width: 105px;
	float: left;
	background-image: url(../img/menu-bg.png);
	background-repeat: repeat-x;
	border-right: 1px solid #474749;
	border-top: 1px solid #474749;
}
.div-menu ul li:last-child{
	float: right;
}
.div-menu ul li a,.div-menu ul li select{
	text-decoration: none;
	color: #fff;
	font-family: 'Nanum Gothic', sans-serif;
}
.div-menu ul li select{
	color: #000;
}
.div-menu ul{
	position: absolute;
    width: 100%;
    top: -1px;
    height: 37px;
}
.div-menu ul li.active a{
	color: #0cb6da;
}
.div-menu ul li.active{
	position: relative;
	border-bottom: 1px solid #424242;
	border-right: 1px solid #0cb6da;
	border-left: 1px solid #0cb6da;
	border-top: 1px solid #0cb6da;
}
.div-menu ul li.active,.div-menu ul li:not(:last-child):hover{
	background-image: url(../img/menu-active.png);
	background-repeat: repeat-x;
	background-size: contain;
}
.div-menu{
	border-bottom: 1px solid #0cb6da;
    border-top: 0px;
    position: relative;
    height: 36px;
    margin-bottom: 15px;
}
.div-menu ul li:hover a{
	color: #0cb6da;
}
.div-menu ul li:not(:last-child):hover{
	border-right: 1px solid #0cb6da;
	border-left: 1px solid #0cb6da;
	border-top: 1px solid #0cb6da;
}
.sub-page-left-sidebar{
	margin-top: 40px;
}
.left-sidebar-grid{
	position: relative;
	float: left;
}
.left-sidebar-grid.left{
	width: 180px;
}
.left-sidebar-grid.right{
	width: 880px;
	padding-left: 10px;
}
.left-sidebar-header{
	width: 100%;
	background-color: #292a2e; 
	text-align: center;
	padding: 5px 0;
}
.left-sidebar-header h5{
	color: #05a3e0;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
}
.left-sidebar-links{
	width: 100%;
	padding: 0 20px;
}
.left-sidebar-links ul li a{
	font-size: 13px;
	color: #aeaeae;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
	text-decoration: none;
}
.blueWhite-header h5{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
}
.blueWhite-header h5 span{
	color: #05a3e0;
}
.left-sidebar-grid-content-breadcrumbs{
	float: right;
	display: inline-block;
	vertical-align: middle;
	color: #aeaeae;
}
.left-sidebar-grid-content-breadcrumbs p{
	color: #aeaeae;
	font-size: 13px;
}
.left-sidebar-grid-content-breadcrumbs p span.active{
	color: #05a3e0;
}
.left-sidebar-grid-content-header{
	border-bottom: 1px solid #292a2d;
}
.left-sidebar-links ul{
	margin-top: 6px;
}
.left-sidebar-links ul li{
	padding: 4px 0;
}
.left-sidebar-grid-content{
	margin-top: 35px;
	width: 100%;
	text-align: center;
}
.left-sidebar-grid-content .charge-grid{
	display: inline-block;
	width: 190px;
	min-height: 292px;
	background-color: #1c1d1f;
	border-radius: 8px;
	vertical-align: top;
	overflow: hidden;
}
.left-sidebar-grid-content .charge-grid:not(:first-child){
	margin-left: 8px;
}
.left-sidebar-grid-content-button{
	text-align: center;
	margin-top: 40px;
}
.left-sidebar-grid-content-button a{
	width: 204px;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	background-image: url(../img/charge-button-bg.png);
	background-repeat: repeat-x;
	background-size: contain;
	display: inline-block;
	border-radius: 4px;
	padding: 6px 0;
	text-decoration: none;
	border: 1px solid  rgba(158, 127, 89, 0.57);
}
.left-sidebar-grid-content-table-header a{
	float: right;
}
.left-sidebar-grid-content-table-content{
	width: 100%;
	background-color: rgb(71, 71, 71);
	padding: 5px;
}
.left-sidebar-grid-content-table-content table{
	width: 100%;
}
.left-sidebar-grid-content-table-content table thead tr{
	background-image: url(../img/table-bg-dark.jpg);
	height: 32px;
}
.left-sidebar-grid-content-table-content table thead tr th{
	color: #a19fa0;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	font-size: 13px;
}
.left-sidebar-grid-content-table-content table tbody tr td{
	text-align: center;
	color: #e1e1e1;
	/*font-family: 'Nanum Gothic', sans-serif;*/
	font-size: 12px;
	padding: 8px 0;
}
.left-sidebar-grid-content-table-content table tbody tr td.orange{
	color: #f5b302;
}
.charge-grid-header{
	margin-top: 10px;
}
.charge-grid-content{
	text-align: left;
	padding-left: 20px;
	padding-right: 28px;
	margin-top: 14px;
}
.charge-grid-content p{
	color: #eee;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11px;
    letter-spacing: -1.5px;
    line-height: 1.7;
    font-weight: 900;
}
.charge-grid-content p span{
	color: #c81116;
}
.charge-grid-button{
	text-align: center;
	margin-top: 12px;
}
.charge-grid-input-content{
	width: 100%;
	height: 36px;
	background-image: url(../img/ch_img_04_02.png);
	background-repeat: no-repeat;
	background-size: contain;
	line-height: 36px;
	text-align: left;
	padding-left: 5px;
}
.charge-grid-input-content *{
	display: inline-block;
	position: relative;
	top: -1px;
}
.charge-grid-input{
	padding-left: 3px;
	padding-right: 4px;
	margin-top: 10px;
}
.charge-grid-input-content input[type="text"]{
	width: 100px;
    height: 20px;
    background-color: #333;
    border: #999 1px solid;
    color: #CCC;
    text-align: right;
    font-size: 12px;
}
.charge-grid-input-content span{
	color: #eee;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
}
.charge-grid-input-content span:first-child{
	margin-right: 4px;
}
.charge-grid-input-below-label{
	text-align: left;
	padding-left: 27px;
}
.charge-grid-input-below-label span{
	color: #eee;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
}
.charge-grid-input-below-label mark{
	background-color: transparent;
	color: green;
	font-size: 14px;
	position: relative;
	top: 4px;
	font-weight: bold;
}
.charge-grid-input-below{
	text-align: right;
	padding-right: 6px;
	margin-top: 8px;
}
.charge-grid-input-below p{
	color: #eee;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	letter-spacing: -2px;
}
.charge-grid-amount {
	text-align: left;
	padding-left: 4px;
}
.charge-grid-amount a{
	display: inline-block;
	width: 60px;
	background-image: url(../img/money-amount-bg.png);
	background-repeat: repeat-x;
	background-size: contain;
	color: #eee;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
}
.charge-grid-amount a{
	margin-left: -2px;
	border: 1px solid #747b7c;
}