@media screen and (max-width: 1100px) {
	header nav ul li:not(:first-child){
		margin-left: 40px;
	}
}
@media screen and (max-width: 991px) {
	.sidebar,header,.top-bar{
		display: none;
	}
	.content_grid{
		width: 100%;
	}
	.page-wrapper{
		background-position: center bottom;
	}
	.newsbar{
		margin-top: 0px;
	}
	.mobile-top_bar{
		display: block;
	}
	.page-wrapper{
		margin-top: 48px;
	}
	.mobile-quick-access{
		display: block;
	}
}
@media screen and (max-width: 850px) {
	.news-holder,.purchaseInfo{
		float: none;
		clear: both;
	}
	.purchaseInfo{
		margin-top: 6px;
	}
}
@media screen and (max-width: 600px) {
	.newsLabel{
		display: block;
	}
	.newsLabel .newsLabel-content{
		min-width: 65%;
	}
}